<div class="container">
  <div class="card">
    <h1>Acesso Restrito</h1>
    <!-- <label for="matricula">matricula</label> -->
    <input type="text" id="matricula" placeholder="Matrícula" />
    <!-- <label for="senha">Senha</label> -->
    <input type="password" id="senha" placeholder="Senha" />
    <input type="checkbox" name="lembrar senha" id="remember-checkbox" />
    <label for="remember-checkbox">Lembrar senha</label>
    <button type="submit" id="submit" onclick="location.href='/identificacaos/new'">Entrar</button>
  </div>
</div>
